<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
               <form #articleForm="ngForm" (ngSubmit)="addArticle(articleForm)">
                   <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Ingresar tu articulo" [(ngModel)]="articleService.selectedArticle.name">
                   </div>
                   <div class="form-group">
                    <input type="text" name="color" class="form-control" placeholder="Ingresar color del articulo" [(ngModel)]="articleService.selectedArticle.color">
                   </div>
                   <div class="form-group">
                    <input type="text" name="size" class="form-control" placeholder="Ingresar talle  o número del articulo" [(ngModel)]="articleService.selectedArticle.size">
                   </div>
                   <div class="form-group">
                    <input type="text" name="company" class="form-control" placeholder="Ingresar marca del articulo" [(ngModel)]="articleService.selectedArticle.company">
                   </div>
                   <div class="form-group">
                    <input type="number" name="price" class="form-control" placeholder="Ingresar precio del articulo" [(ngModel)]="articleService.selectedArticle.price">
                   </div>
                   <div class="form-group">
                    <input type="text" name="description" class="form-control" placeholder="Ingresar descripción del articulo" [(ngModel)]="articleService.selectedArticle.description">
                   </div>
                   <button class="btn btn-primary mr-2">
                    Limpiar
                   </button>
                   <button class="btn btn-secondary">
                    Guardar
                   </button>
               </form>
            </div>

        </div>
    </div>
    <div class="col-md-8">
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>
                       Articulo
                     </th>
                     <th>
                       Color
                    </th>
                    <th>
                       Tamaño o Número
                    </th>
                    <th>
                       Marca
                    </th>
                    <th>
                       Precio
                    </th>
                    <th>
                       Descripción
                    </th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let article of articleService.articles">
                    <td>{{article.name}}</td>
                    <td>{{article.color}}</td>
                    <td>{{article.size}}</td>
                    <td>{{article.company}}</td>
                    <td>{{article.price}}</td>
                    <td>{{article.description}}</td>
                        <td>
                            <button class="btn btn-secondary btn-sm" >
                                <i class="material-icons">edit</i>
                            </button>
                            <button class="btn btn-danger btn-sm"(click)="deleteArticle(article._id)">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>    
                </tr>
             </tbody>
         </table>
    </div>
</div>